body {
		margin-top: 40px;
		font-family: sans-serif;
		margin-bottom: 40px;
}
h1 {
		font-size: 40px;
    text-align: center;
		margin-bottom: 40px;
}
h1 span {
		color: #D15419;
}
h1,
h2,
h3 {
		font-weight: 700;
}

p.lead {
  text-align: center;
}

.version {
  font-size: 14px;
text-align: center;
position: relative;
top: -35px;
font-weight: bold;
}

p.desc {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ibfg3t');
	src:url('../fonts/icomoon.eot?#iefixibfg3t') format('embedded-opentype'),
	url('../fonts/icomoon.woff?ibfg3t') format('woff'),
	url('../fonts/icomoon.ttf?ibfg3t') format('truetype'),
	url('../fonts/icomoon.svg?ibfg3t#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-googleplus:before {
	content: "\f0d5";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-stumbleupon:before {
	content: "\f1a4";
}
.icon-delicious:before {
	content: "\f1a5";
}
.icon-digg:before {
	content: "\f1a6";
}
.icon-reddit:before {
	content: "\f1a1";
}


.simplesharebuttons {
  margin-top: 40px;
	margin-bottom: 80px;
}

.simplesharebuttons ul,
.simplesharebuttons li {
		margin: 0;
		padding: 0;
		list-style: none;
}

.simplesharebuttons ul {
  display: table;
  margin: 0 auto;
}

.simplesharebuttons ul li {
  display: inline;
}


.sharebutton {
		text-decoration: none;
		display: inline-block;
		border: 1px solid #eee;
		border-radius: 5px;
		margin-right: 20px;
		float: left;
		width: 70px;
		padding-top: 7px;
		padding-bottom: 4px;
		padding-left: 10px;
}

.icon-twitter {
  color: #55acee;
}

.icon-facebook {
  color: #3b5998;
}

.icon-googleplus {
  color: #dd4b39;
}

.icon-linkedin {
  color: #0976b4;
}

.icon-pinterest {
	color: #cb2027;
}

.icon-reddit {
	color: #ff5700;
}

.icon-digg {
	color: #356AA0;
}

.sharebutton:hover {
		text-decoration: none;
}

.sharebutton.digg:hover {
	background-color: #356AA0;
}

.sharebutton.digg:hover .count,
.sharebutton.digg:hover i {
	color: white;
}

.sharebutton.reddit:hover {
	background-color: #ff5700;
}

.sharebutton.reddit:hover .count,
.sharebutton.reddit:hover i {
	color: white;
}

.sharebutton.pinterest:hover {
	background-color: #cb2027;
}

.sharebutton.pinterest:hover .count,
.sharebutton.pinterest:hover i {
	color: white;
}

.sharebutton.facebook:hover {
  background-color: #3b5998;
}

.sharebutton.facebook:hover .count,
.sharebutton.facebook:hover i {
  color: white;
}

.sharebutton.twitter:hover {
  background-color: #55acee;
}

.sharebutton.twitter:hover .count,
.sharebutton.twitter:hover i {
  color: white;
}

.sharebutton.linkedin:hover {
  background-color: #0976b4;
}

.sharebutton.linkedin:hover .count,
.sharebutton.linkedin:hover i {
  color: white;
}

.sharebutton.googleplus:hover {
  background-color: #dd4b39;
}

.sharebutton.googleplus:hover .count,
.sharebutton.googleplus:hover i {
  color: white;
}

.sharebutton .count {
		font-size: 12px;
		color: #333;
		float: right;
		padding-right: 10px;
		font-weight: bold;
		position: relative;
		top: 1px;
}
